@model IEnumerable<Ticket>
@{
    ViewBag.Title = "Tickets";
}





<div class="table-responsive styled-table mt-5">

    <table class="table custom-table">
        <thead class="bg-dark text-white">

            <tr>


                <th scope="col">ID</th>
                <th scope="col">Bus ID</th>
                <th scope="col">Validity</th>
                <th scope="col">Trans ID</th>
                <th scope="col">Seat No</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Cost</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Purchase Time</th>
                <th scope="col">Journey Time</th>
                <th scope="col">Food</th>
                <th scope="col">Action</th>


            </tr>
        </thead>
        <tbody>
            @{


                for (int i = Model.Count() - 1; i >= 0; i--)
                {

                    <tr>
                        <td>
                            @Model.ElementAt(i).Id
                        </td>
                        <td>
                            @Model.ElementAt(i).busId
                        </td>

                        @if (Model.ElementAt(i).isConfirmed == 1)
                        {
                            <td class="text-warning"><strong>Not Confirmed</strong></td>
                        }
                        else if (Model.ElementAt(i).isConfirmed == 2)
                        {
                            <td class="text-success"><strong>Confirmed</strong></td>
                        }
                        else
                        {
                            <td class="text-danger"><strong>Canceled</strong></td>
                        }
                        <td class="text-success">
                            @Model.ElementAt(i).transactionNumber

                        </td>

                        <td>
                            @Model.ElementAt(i).currentAva

                        </td>
                        <td>
                            @Model.ElementAt(i).name

                        </td>
                        <td>
                            @(Model.ElementAt(i).cost) TK

                        </td>
                        <td>
                            @Model.ElementAt(i).From

                        </td>
                        <td>
                            @Model.ElementAt(i).To

                        </td>
                        <td> @Model.ElementAt(i).purchaseTime.ToString("D") @Model.ElementAt(i).purchaseTime.ToString("hh:mm tt")</td>

                        <td> @Model.ElementAt(i).journeyTime.ToString("D") @Model.ElementAt(i).journeyTime.ToString("hh:mm tt")</td>



                        @if (@Model.ElementAt(i).checkFood == true)
                        {
                            <td>YES</td>
                        }
                        else
                        {
                            <td>NO</td>
                        }


                        <td>
                            <div>
                                <a class="col-sm-1 m-3" asp-action="ConfirmTikcet" asp-route-id="@Model.ElementAt(i).Id"><i class="fa-solid fa-circle-check text-success"></i></a>
                                <a class="col-sm-1 m-3" asp-action="CancelTikcet" asp asp-route-id="@Model.ElementAt(i).Id"><i class="fa-solid fa-rectangle-xmark text-danger"></i></a>

                            </div>
                        </td>
                    </tr>






                }




            }


        </tbody>
    </table>
</div>
