@using Bus_Ticket_System.ViewModels
@model VoucherAndBoucherList

 


<div class="card p-4">

    <form method="post">


        <div class="row">
            <div class="col-sm-2">
                <label class="form-label" asp-for="@Model.voucher.code">Voucher Code:</label>
                <div>
                    <input asp-for="@Model.voucher.code" class="form-control col-3" />
                </div>

            </div>
            <div class="col-sm-2">
                <label class="form-label" asp-for="@Model.voucher.discount_percent">Voucher Discount:</label>
                <div>
                    <input asp-for="@Model.voucher.discount_percent" class="form-control col-3" />
                </div>

            </div>

            <div style="margin-top:15px">

                <button type="submit" class="btn btn-primary btn-group-sm">Add New Voucher</button>
            </div>
        </div>
    </form>
</div>


<br>
<br>




<div class="table-responsive styled-table">

    <table class="table custom-table">
        <thead class="bg-dark text-white">

            <tr>


                <th scope="col">ID</th>
                <th scope="col">Discount</th>
                <th scope="col">Code</th>
                <th scope="col">Delete</th>


            </tr>
        </thead>
        <tbody>
            @{
                if (@Model.vouchers != null)
                {

                    foreach (Voucher voucher in Model.vouchers)
                    {
                        <tr>
                            <td>
                                @voucher.Id
                            </td>
                            <td class="text-success font-weight-bold">
                                @(voucher.discount_percent)%
                            </td>
                            <td class="text-primary font-weight-bold">
                                @voucher.code

                            </td>
                            <td>
                                <div>

                                    <a class="col-sm-1 m-1" asp-action="VoucherDelete" asp asp-route-id="@voucher.Id"><i class="fa-solid fa-trash text-danger"></i></a>
                                </div>
                            </td>

                        </tr>

                    }
                }

            }


        </tbody>
    </table>
</div>






