@model Ticket

@{
    ViewBag.Title = "BD Poribohon: Payment";
}


<link rel="stylesheet" href="~/css/Home/bus_ticket.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="rec_main container-sm rounded mb-lg-5 ">
    <p class="bd_pori mt-4 mb-4">Payment</p>
    <p class="col-4 details_x text-danger  "><b>Send money via Bkash to 01705821821  and put transaction number below.</b></p>


    <div class="row_x row bg-light p-lg-2 mb-2">
        <span class="col-3 font-weight-bolder">Passenger Name:</span>
        <p class="col-1"></p>
        <span class="col-4 details_x">@Model.name</span>

    </div>
    <div class="row_x row bg-light p-lg-2 mb-2">
        <span class="col-3 font-weight-bolder">To Pay:</span>
        <p class="col-1"></p>
        <span class="col-4 details_x">@Model.cost TK</span>

    </div>


    <form method="post" asp-action="payment2">

        <div class="row_x row bg-white p-lg-2 mb-2">
            <label asp-for="phone" class="col-3 font-weight-bolder text-danger align-items-center bg-light">Phone Number:</label>
            <input type="text" asp-for="phone" class="rounded form-control col-3  " style="padding-left:5px ; max-width:50%" placeholder="Phone No." />
        </div>
        <div class="row_x row bg-white p-lg-2 mb-2">
            <label asp-for="transactionNumber" class="col-3 font-weight-bolder text-danger align-items-center  bg-light">Transaction Number:</label>
            <input type="text" asp-for="transactionNumber" class="rounded form-control col-3" style="padding-left:5px ; max-width:50%" placeholder="Transaction Number" />

        </div>
        <div class="row_x2 row p-lg-2 mb-2">

            <div class="col float-right">

                <input type="hidden" asp-for="busId" value="@Model.busId"/>
                <input type="hidden" asp-for="busTime" value="@Model.busTime"/>
                <input type="hidden" asp-for="checkFood" value="@Model.checkFood"/>
                <input type="hidden" asp-for="cost" value="@Model.cost"/>
                <input type="hidden" asp-for="currentAva" value="@Model.currentAva"/>
                <input type="hidden" asp-for="From" value="@Model.From"/>
                <input type="hidden" asp-for="Id" value="@Model.Id"/>
                <input type="hidden" asp-for="isConfirmed" value="@Model.isConfirmed"/>
                <input type="hidden" asp-for="journeyTime" value="@Model.journeyTime"/>
                <input type="hidden" asp-for="name" value="@Model.name"/> 
                <input type="hidden" asp-for="purchaseTime" value="@Model.purchaseTime"/>
                <input type="hidden" asp-for="To" value="@Model.To"/>
                <input type="hidden" asp-for="userId" value="@Model.userId"/> 

                <button class="btn rounded bg-success text-white" style="float:right; margin-top: 12px;" type="submit" value="">Confirm Payment</button>




            </div>

        </div>
    </form>



</div>

